<div class="panel panel-default panel-with-item-number">
    <div class="panel-heading text-center">
        <div class="panel-item-number">
            <div class="badge">
                {{serialNumber}}
            </div>
        </div>
        <div class="panel-title panel-item-title" style="height: 1.2em;">
            {{title}}
            {{^title}}
                No title
            {{/title}}
        </div>
    </div>
    <div class="panel-body fill-image">
        <div class="image-box">
            {{#if image.length}}
                <img src="{{contentUrl image}}" alt=""/>
            {{else}}
                <div style="line-height: 100px;">No Image</div>
            {{/if}}
        </div>
    </div>
    <div class="panel-footer text-center">
        <div data-action="remove" class="btn btn-default btn-sm"><i class="text-danger fa fa-times"></i></div>
        <div data-action="edit" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></div>
        {{#correct}}
            <div class="label label-success" style="border-radius: 30px;" data-toggle="tooltip" data-placement="top" title="Correct answer"><i class="fa fa-check-circle"></i></div>
        {{/correct}}
    </div>
</div>