<div class="panel panel-black">
    <div class="panel-heading">
        <div class="panel-title">
            {{#if title.length}}
                Edit choice
            {{else}}
                Add new choice
            {{/if}}
        </div>
    </div>
    <div class="panel-body">
        <form class="form" action=""></form>
        <br/><div class="form-results-box"></div>
    </div>
</div>