<div class="row questions-list"></div>
<div class="add-new-conatiner">
    <div class="btn btn-success btn-block" data-action="add"><i class="fa fa-plus"></i> Add new question</div>
</div>
<br/>
<div class="question-item-editor"></div>