<div class="panel panel-black">
    <div class="panel-heading">
        <div class="panel-title">
            {{#if question.length}}
                Edit question
            {{else}}
                Add new question
            {{/if}}
        </div>
    </div>
    <div class="panel-body">
        <form class="form" action=""></form>
        <br/><div class="choices-editor-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Choices</div>
            </div>
            <div class="panel-body">
                <div class="choices-editor"></div>
            </div>
        </div>

        </div>
        <br/><div class="form-results-box"></div>
    </div>
</div>