<div class="row results-list"></div>
<div class="add-new-conatiner">
    <div class="btn btn-success btn-block" data-action="add"><i class="fa fa-plus"></i> Add new result</div>
</div>
<br/>
<div class="result-item-editor"></div>