<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editing <b>{{title}}</b>
            </div>
            <div class="panel-body">
                <div class="form-container"></div>
            </div>
        </div>
    </div>
</div>