<div class="share-locker-buttons-block">
    <div class="share-locker-message">
        {{{ __ "shareLockerMessage" }}}
    </div>
    <div class="share-locker-share-btn btn btn-social-facebook" data-network="facebook">
        <span>
            <i class="fa fa-facebook pull-left"></i>
            {{__ "shareOnfacebook"}}
        </span>
    </div>
</div>